.btn {
  margin-bottom: 4px;
  width: 120px;
}

.nav {
  background-color: red;
  font-size: 25px;
  padding: 20px;
}

#youtube {
  padding-left: 100px;
  padding-right: 450px;
}

#home {
  margin-top: 30px;
  text-decoration: none;
  color: white;
  padding-right: 15px;
  padding-left: 15px;

  &:hover {
    color: grey;
  }
}

#about {
  margin-top: 30px;
  text-decoration: none;
  color: white;
  padding-right: 15px;

  &:hover {
    color: grey;
  }
}

#signup {
  margin-top: 30px;
  text-decoration: none;
  color: white;

  &:hover {
    color: grey;
  }
}

#signin {
  margin-top: 30px;
  text-decoration: none;
  color: white;
  padding-right: 15px;

  &:hover {
    color: grey;
  }
}

#logout {
  margin-top: 30px;
  text-decoration: none;
  color: white;

  &:hover {
    color: grey;
  }
}

.youtube-logo {
  width: 1px;
  height: 1px;
}
