.showPage {
  margin-top: 5%;

  .videoPlayer {
    margin-bottom: 5%;
    text-align: center;
  }
}

.Form {
  display: flex;
  justify-content: center;
}
.CommentSection {
  width: 700px;
}

ul {
  list-style-type: none;
}

.break-line {
  margin-left: 20em;
  margin-right: 20em;
}