.showPage {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5%;

  .videoPlayer {
    margin-bottom: 5%;
  }
}

.Form {
  display: flex;
  justify-content: center;
}
.CommentSection {
  width: 700px;
}

ul {
  list-style-type: none;
}